body {
    max-width: 1024px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
header{
    padding-bottom: 50px;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 5px;
    font-size: 30px;
}

h1 + p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 12px;
}

#gameContainer, h1, p {
    text-align: center;
}

#gameContainer {
    display: grid;
    grid-template: auto / 50% 50%;
    align-items: center;
    margin-top: max(10px,calc((100vh - 580px)/2));
}

#gcontrols > p:first-child {
    margin-bottom: 50px;
}

#gimage{
    grid-row: 1;
    grid-column: 1;
}

#gcontrols {
    padding: 10px;
    grid-row: 1;
    grid-column: 2;
}
#gameContainer > p {
    grid-row: 1;
    grid-column:1 / span 2;
}


p.notplaying {
    display: block;
}

div.notplaying {
    display: none;
}

p.playing {
    display: none;
}

div.playing {
    display: block;
}

#gchars > span {
    display: inline-block;
    width: 20px;
   /* height: 30px;*/
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

#word2guess {
    font-weight: bold;
    font-size: 24px;  
}

.ok {
    background-color: green;
}

.ko {
    background-color:sienna;
}
#duration {
    text-align: center;
}
#duration >p {
    display: inline;
}
#i1, #i2, #i3, #i4, #i5, #i6, #i7 {
    display: none;
}


#timer{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid red ;
    color:red;
    font-weight: bold;
    font-size: 20px;
}
#nombre {
    text-align: center;
}
#nombre >p {
    display: inline;
}