nav {
    padding-bottom: 30px;
    overflow: hidden;
}

nav > ul {
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
}

nav li {
    height: 100%;
    width: 150px;
    background-color: lightgreen;
    border: 2px solid black;
    text-align: center;
    margin-right: 10px;
}

nav li li:not(:last-child){
    border-bottom: 0px;
}

nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:darkslateblue;
}

nav a:hover {
    background-color: lightpink;
}

.submenu {
    display: none;
}

nav li:hover > ul,
nav li:focus-within > ul,
nav li:active > ul {
    display: block;
    margin-left: -2px;
    padding-left: 0px;
}
